
.paddingButtons {
    margin-top: 20px!important;
}

.ui-dropdown .ui-dropdown-panel {
    min-width: 100%;
    width: max-content;
}

label.required:after {
    content: " *";
    color: red;
}

.panel-title {
    color: #7e2d40
}

.title-input {
    width: 16em;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: #444444;
    font-style: normal;
    text-align: left;
    padding-top: 10px !important;
    padding-bottom: 0px !important;
}

.no-padding-left {
    padding-left: 0px !important;
}

.section-padding {
    padding-top: 0px;
}

.paddingDataClass {
    padding-bottom: 15px!important;
    margin-left: 1px;
}

.panel-title h3 {
    font-size: 24px;
}
app-button {
    padding-left: 20px;
}
#content {
    padding-top: 0px !important;
}
  
.infotext {
    display: flex;
}

.arrow-color {
    color: black;
    font-weight: initial;
    cursor: pointer;
    font-size: 17px;
    padding-right: 6px
}

.createControlButtons{
    margin-left: -34px;
    margin-top : 10px;
    display: inline-block;
    position: absolute;
    
}



