<!--add/delete checklist manager screen display -->
<div class="panel panel-default">

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12" style="margin-left: -7px">
      <app-breadcrumbs [items]='itemsPath' [home]='home'></app-breadcrumbs>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-5 col-md-5 col-lg-8 panel panel-default">
      <div class="panel-heading section-padding">
        <h3 class="panel-title " style="font-size: 24px;">Online Checklist Administration</h3>
      </div>
    </div>
  </div>

  <div class="col.sm-12 col-md-12 col-lg-12 padding-zero" *ngIf="msgs.length > 0">
    <p-growl [(value)]="msgs"></p-growl>
  </div>

  <div class="panel-body section-padding">

    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4" style="border: 1px grey; padding-bottom: 15px;">
        <label for="title" class="control-label top-padding"> Active Employee </label>

        <app-listbox [datasource]="addChecklistManagers" [selectedItem]="selectedAddChecklistManager" [style]="{'width':'90.5%'}"
          [liststyle]="{'max-height':'250px'}" (selectedItemChange) = "this.selectedAddChecklistManager = $event">
          <p-footer>
            <ng-container *ngIf="selectedAddChecklistManager; else elseTemplate">
              Selected: {{selectedAddChecklistManager['fullName']}}
            </ng-container>
            <ng-template #elseTemplate>
              Selected: {{'None'}}
            </ng-template>
          </p-footer>
        </app-listbox>
        <div class="row addManagersButtons">
          <app-button (click)="add(selectedAddChecklistManager)" label="Add Reviewer" styleClass='button-action'></app-button>
        </div>
      </div>

      <div class="offset-sm-2 offset-md-2 offset-lg-2"></div>

      <div class="col-sm-4 col-md-4 col-lg-4" style="border: 1px grey; padding-bottom: 15px;">
        <label for="title" class="control-label top-padding"> Online Checklist Reviewer </label>
        <app-listbox [datasource]="managers" [selectedItem]="selectedManager" [style]="{'width':'90.5%'}" [liststyle]="{'max-height':'250px'}" (selectedItemChange) = "this.selectedManager = $event">
          <p-footer appendTo= "listFooter" >
            <ng-container *ngIf="selectedManager; else elseTemplate">
              Selected: {{selectedManager['fullName']}}
            </ng-container>
            <ng-template #elseTemplate>
              Selected: {{'None'}}
            </ng-template>
          </p-footer>
        </app-listbox>

        <div class="row deleteManagersButtons">
          <app-button (click)="delete(selectedManager)" label="Delete Reviewer" styleClass='button-action'></app-button>
        </div>
      </div>
    </div>

  </div>

</div>
<p-confirmDialog appendTo="body"></p-confirmDialog>