<!--   add check list screen display  -->
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12" style="margin-left: -8px;">
      <app-breadcrumbs [items]='itemsPath' [home]='home'></app-breadcrumbs>
  </div>
</div>
<div class="panel panel-default">
  <div *ngIf="!this.isUpdate" class="panel-heading section-padding">
    <h3 class="panel-title" style="font-size: 24px">{{header}}</h3>
  </div>
    <div *ngIf="this.isUpdate" class="panel-heading section-padding">
      <h3 class="panel-title"><fa class="arrow-color" style="font-size: 17px; margin-left: 0px" name="chevron-left" size='0.5x' (click)='back()'> </fa>{{header}}</h3>
    </div>
  <p-growl [(value)]="msgs"></p-growl>

  <div class="panel-body section-padding">
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4" id="title">
        <label for="title" class="required control-label">Checklist Name</label>
        <div>
          <app-input (inputTextSelected)='this.name=$event' [value]='name' [maxlength]= 60></app-input>
        </div>
      </div>
  
      <div class="col-sm-4 col-md-4 col-lg-4" id="group">
        <label class="required control-label">Group</label>
        <div>
          <app-dropdown [datasource]='groups' (selectedItemChange)='onChangeGroup($event)' [selectedItem]='selectedGroup'></app-dropdown>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4" id="description">
        <label class="required control-label">Description</label>
        <div>
          <app-input-text-area rowSize='7' (inputTextAreaSelected)='this.description= $event' [value]='description' name='description' [maxlength] = 255 ></app-input-text-area>
        </div>
      </div>

      <div class="col-sm-4 col-md-4 col-lg-4" id="depFreq">
        <!-- <div class="row paddingTopClass" id="department"> -->
        <label class="required control-label">Department</label>
        <div>
          <app-dropdown [datasource]='departments' (selectedItemChange)='this.selectedDepartments = $event' [selectedItem]='selectedDepartments'></app-dropdown>
        </div>

        <label class="required control-label">Frequency</label>
        <div>
          <app-dropdown [datasource]='frequency' (selectedItemChange)='this.selectedFrequency = $event' [selectedItem]='selectedFrequency'
              filter='true'></app-dropdown>
        </div>
      </div>
    </div>

    <div class="row addCheckListButtons">
      <div *ngIf="!this.isUpdate"class="col-sm-8 col-md-8 col-lg-8">
          <app-button label='Save' (click)='saveChecklist()' [disabled]='disable()' styleClass='button-action'></app-button>
          <app-button label='Cancel' (click)='back()' styleClass='button-cancel'></app-button>
      </div>
      <div *ngIf="this.isUpdate"class="col-sm-8 col-md-8 col-lg-8">
        <app-button label='Update' (click)='modifyChecklist()' [disabled]='disable()' styleClass='button-action'></app-button>
        <app-button label='Reset' (click)='this.populateValues()' styleClass='button-cancel'></app-button>
      </div>
    </div>
  </div>

</div>