label.required:after {
    content: " *";
    color: red;
}
.buttonPadding{
    padding-left: 115px;
}

.checklistDisplay{
    margin-left:-40px; 
    color:blue;
}

.controlDisplay{
    margin-left:-40px; 
    color:purple;
    margin-top: -20px;
}