.gridPadding {
    padding-top: 10px;
    padding-left: 17px !important;
}
.arrow-color {
    color: black;
    font-weight: initial;
    cursor: pointer;
    font-size: 17px;
    padding-right: 6px
}

.selectedName{
    color: blue;
    font-size: 15px;
    margin-left:6px;
}
.selectedFrequency{
    color: purple;
    font-size: 15px;
    margin-left:6px;
}
.text{
    color: red;
    font-size: 13px;
    text-align:center;
}