/** This file is contains the css for app component level **/

.container-fluid {
    padding-left: 0px;
    max-height: 80%;
    padding-right: 0px;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.ui-dropdown {
    width: 70%;
}
.c{
    color:black;
    background: #999;
    height: 35px;
}