<form [formGroup]="controlAssociateEditForm">
  <div class="ui-g ui-fluid" style="padding-left: 10px;">
    <div class="ui-g-12 form-group modalForm">
      <div class="ui-g-12 paddingForm">
        <label for="Control">
          <h5>{{childChecklistName}}</h5>
        </label>
        <p-growl [(value)]="msgs"></p-growl>
      </div>
    </div>
    <div class="ui-g-12 form-group modalForm">
      <div class="ui-g-2 paddingForm">
        <label for="Control" class="required control-label">Control</label>
      </div>
      <div class="ui-g-10 paddingForm">
        <app-dropdown [datasource]='control' (selectedItemChange)='this.selectedControl = $event' [selectedItem]='selectedControl'></app-dropdown>
      </div>
    </div>

    <div class="ui-g-12 form-group modalForm">
      <div class="ui-g-2 paddingForm">
        <label for="Primary" class="required control-label">Primary</label>
      </div>
      <div class="ui-g-10 paddingForm">
        <app-dropdown [datasource]='primary' (selectedItemChange)='this.selectedPrimary = $event' [selectedItem]='selectedPrimary'></app-dropdown>
      </div>
    </div>

    <div class="ui-g-12 form-group modalForm">
      <div class="ui-g-2 paddingForm">
        <label for="Backup" class="required control-label">Backup</label>
      </div>
      <div class="ui-g-10 paddingForm">
        <app-dropdown [datasource]='backup' (selectedItemChange)='this.selectedBackup = $event' [selectedItem]='selectedBackup'></app-dropdown>
      </div>
    </div>

    <div class="ui-g-12 form-group modalForm">
      <div class="ui-g-2 paddingForm">
        <label for="Reviewer" class="required control-label">Reviewer</label>
      </div>
      <div class="ui-g-10 paddingForm">
        <app-dropdown [datasource]='reviewer' (selectedItemChange)='this.selectedReviewer = $event' [selectedItem]='selectedReviewer'></app-dropdown>
      </div>
    </div>
    <div class="ui-g-12 form-group modalForm">
      <div class="ui-g-2 paddingForm">
        <label for="DisplayOrder" class="required control-label">Display Order</label>
      </div>
      <div class="ui-g-10 paddingForm">
        <app-dropdown [datasource]='displayOrder' (selectedItemChange)='this.selectedDisplayOrder = $event' [selectedItem]='selectedDisplayOrder'></app-dropdown>
      </div>
    </div>


  </div>
</form>
<div class="buttonPadding" class="buttonPadding">
  <app-button label='Save' (click)='updateControlAssociateEdit()' [disabled]='disable()' styleClass='button-action'></app-button>
  <app-button label='Clear All' (click)='clearAll()' styleClass='button-cancel'></app-button>
  <app-button label='Cancel' (click)='back()' styleClass='button-cancel'></app-button>
</div>
