.labelblueheader{
    color: #205492 !important;
    padding-left:24px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif !important;
}


.labelpurpleheader{
    color: purple !important;
    padding-left:24px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif !important;
}

.labelblackheader{
    color: #1b1d1f;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif !important;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: #444444;
    font-style: normal;
    text-align: left;
    padding-left:10px;
}
.onlinetextarea{
    padding-left:8px !important;  
}

.pageAlign {
    width: 100%;
    float: right;
}

.statusdropdown {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px !important;
    width: 38%;
    margin-left: 250px;
    
}

a.displaycolor{
    color: rgb(21, 49, 126)!important;
}